<h2>Eventos</h2>
<hr>

<div class="input-group mb-3 col-4">
    <input
    type="text"
    class="form-control"
    id="input"
    placeholder="Digite algo..."
    [(ngModel)]="filterList"
    >
    <button type="submit" class="btn btn-outline-secondary">Buscar</button>
</div>

<h3>
  Filtro: {{filterList}}
</h3>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button class="btn btn-outline-light btn-sm" (click)="changeImg()">
          {{ !showImg ? 'Exibir': 'Ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>
        <img [collapse]="!showImg" [isAnimated]="true"
         src="/assets/{{evento.imagemURL}}" alt="" [style.width.px]="widthImg" [style.margin]="marginImg" />
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhum evento encontrado</h4>
        </td>
      </tr>
  </tfoot>
</table>
